.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  gap: 10px;
}

.grid-col-3 {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(33%, 1fr));
}

@media screen and (max-width: 800px) {
  .grid-col-3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid-col-3 {
    grid-template-columns: 1fr;
  }
}
