@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("./components/Alert/alert.css");
@import url("./components/Avatar/avatar.css");
@import url("./components/Badge/badge.css");
@import url("./components/Button/button.css");
@import url("./components/Card/card.css");
@import url("./components/Input/input.css");
@import url("./components/List/list.css");
@import url("./components/Modal/modal.css");
@import url("./components/Navigation/navigation.css");
@import url("./components/Rating/rating.css");
@import url("./components/SimplifiedGrid/simplified-grid.css");
@import url("./components/Slider/slider.css");
@import url("./components/Toast/toast.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: var(--font-family-primary);
}

/* RESPONSIVE IMAGES */

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* CSS VARIABLES */

:root {
  /* COLOR */
  --color-primary: #0d6efc;
  --color-secondary: #012e41;
  --color-success: #10b956;
  --color-danger: #dc3545;
  --color-warning: #fbbf24;
  --color-info: #0dcaf0;
  --color-dark: #121212;
  --color-gray: #949494;
  --color-white: #ffffff;

  --color-form-gray: #aaa9a966;
  --color-star-gold: #fdcc0d;

  --color-display-container: #f8f9fa;
  --color-markdown: #434750;
  --color-table-head:#f8fafc;
  --color-table-border:#e5e7eb;

  /* FONT FAMILY */
  --font-family-primary: "Inter", sans-serif;

  /* FONT SIZE */
  --text-xl: 3rem;
  --text-lg: 2rem;
  --text-md: 1.6rem;
  --text-regular: 1.25rem;
  --text-base: 1.1rem;
  --text-sm: 1rem;
  --text-xs: 0.75rem;

  --text-btn: 1.2rem;

  /* FONT WEIGHT */
  --font-extrabold: 900;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;
  --font-extralight: 200;

  /* BORDER RADIUS */
  --border-rounded: 999px;
  --border-lg: 15px;
  --border-md: 10px;
  --border-sm: 5px;
  --border-xs: 3px;

  /* BOX SHADOW */
  --shadow-sm: 0px 2px 15px rgba(0, 0, 0, 0.05);
  --shadow-base: 0px 2px 10px rgba(0, 0, 0, 0.15);
  --shadow-md:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl:0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* COLOR STYLES */

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}

.color-success {
  color: var(--color-success);
}

.color-danger {
  color: var(--color-danger);
}

.color-warning {
  color: var(--color-warning);
}

.color-info {
  color: var(--color-info);
}

.color-dark {
  color: var(--color-dark);
}

.color-gray {
  color: var(--color-gray);
}

.color-white {
  color: var(--color-white);
}

/* BACKGROUND COLOR STYLES */

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-success {
  background-color: var(--color-success);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-warning {
  background-color: var(--color-warning);
}

.bg-info {
  background-color: var(--color-info);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-white {
  background-color: var(--color-white);
}

/* TEXT STYLES */

.text-xl {
  font-size: var(--text-xl);
  line-height: 1.2;
}

.text-lg {
  font-size: var(--text-lg);
  line-height: 1.2;
}

.text-md {
  font-size: var(--text-md);
  line-height: 1.3;
}

.text-regular {
  font-size: var(--text-regular);
  line-height: 1.3;
}

.text-base {
  font-size: var(--text-base);
  line-height: 1.4;
}

.text-sm {
  font-size: var(--text-sm);
  line-height: 1.4;
}

.text-xs {
  font-size: var(--text-xs);
}

/* FONT WEIGHTS */

.font-extrabold {
  font-weight: var(--font-extrabold);
}

.font-bold {
  font-weight: var(--font-bold);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.font-medium {
  font-weight: var(--font-medium);
}

.font-regular {
  font-weight: var(--font-regular);
}

.font-light {
  font-weight: var(--font-light);
}

.font-extralight {
  font-weight: var(--font-extralight);
}

/* BORDER RADIUS STYLES */

.rounded-xs {
  border-radius: var(--border-xs);
}

.rounded-sm {
  border-radius: var(--border-sm);
}

.rounded-md {
  border-radius: var(--border-md);
}

.rounded-lg {
  border-radius: var(--border-lg);
}

.rounded-full {
  border-radius: var(--border-rounded);
}

/* BOX SHADOW */

.shadow-sm{
  box-shadow: var(--shadow-sm);
}

.shadow-base{
  box-shadow: var(--shadow-base);
}

.shadow-md{
  box-shadow: var(--shadow-md);
}

.shadow-lg{
  box-shadow: var(--shadow-lg);
}

.shadow-xl{
  box-shadow: var(--shadow-xl);
}

/* TEXT ALIGN */

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

/* DIVIDER */

.divider-sm {
  width: 100%;
  height: 1px;
  background-color: #dadadaf3;
  margin: 0.5rem 0;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 65%;
  }
}
