.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-content{
    display: flex;
    width: fit-content;
}

#slider{
    margin: 0 8px;
}

#slider-value{
    font-size: var(--text-xs);
    color: var(--color-gray);
    font-weight: var(--font-medium);
    margin-top: 4px;
}
