.rating-container {
  font-size: 1.2rem;
  overflow: hidden;
}

.rating-star  {
  float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star ,
.rating-star:focus,
.rating-star:focus ~ .rating-star  {
  color: var(--color-star-gold);
  cursor: pointer;
}

.rated{
  color: var(--color-star-gold);
}
