.relative-container{
    position: relative;
}
.badge{
    position: absolute;
    border-radius: var(--border-rounded);
    border: 2px solid var(--color-white);
    color: var(--color-white);
}

.badge-status{
    width: 14px;
    height: 14px;
    right: 1px;
    bottom: 4px;
}

.badge-number{
    position: absolute;
    padding: 1px 6px;
    font-size: var(--text-xs);
    right: -14px;
    top: -2px;
}